*{
    margin: 0%;
    padding: 0%;
    font-family: 'Noto Sans', sans-serif;
}

.menu-container{
    background-color: rgb(71, 216, 248);
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

} 

.menus{
    display: flex;
    margin-right: 20px;    
}

.logo{
    margin-left: 20px;
}

.logo-image {
    width: 100px;
    height: auto;     
}

.items{
    margin-right: 20px;
    padding-right: 5px;
    font-size: 18px;
    cursor: pointer;
}

a{
    color: inherit;
    text-decoration: none;
}

.items:hover{
    font-size: 20px;
    font-weight: 500; 
    color: rgba(5, 178, 20, 0.893);
    text-shadow: 0.2mm 0.2mm 0.2mm red;
}

.banner-img{
    width: 400px;
}

.banner-container{
    color: rgba(5, 178, 20, 0.893);
    text-shadow: 0.2mm 0.2mm 0.2mm red;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center; 
    background: linear-gradient(to right, #1be8ec 0%, #ffffff 55%);
}

.title{
    font-size: 50px;
    font-weight: 700;
}

.description{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.btn:hover{
    border: 1px solid black; 
    background-color: chartreuse;
    cursor: pointer;
}

.au-img{
    width: 400px;
}

.about-us-container{
    color: rgba(5, 178, 20, 0.893);
    text-shadow: 0.2mm 0.2mm 0.2mm red;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to left, #1be8ec 0%, #ffffff 55%);
}

.au-title{
    padding: 5px;
    margin-bottom: 5px;
}

.pack-container{
    text-shadow: 0.2mm 0.2mm 0.2mm black;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 75vh;
    letter-spacing: 1.5px;
}

.pbox{ 
    background: linear-gradient(to left, #1be8ec 0%, #fefefe 80%);
    padding: 30px;
    border: 0.5px solid;
    border-radius: 10px;
    color: #CD7F32;
    height: auto;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 20px;
}

.pbox2{
    color: silver;
}

.pbox3{
    color: gold;
    
}

.ptitle{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: rgba(5, 178, 20, 0.893);
    text-shadow: 0.2mm 0.2mm 0.2mm rgb(222, 30, 30);
    margin-bottom: 25px;
    margin-top: 10px;
}

.pb-title{
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 5px;
}

.pbox:hover{
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    font-size: larger;
}






